extends layout

block content
  .main.container.text-center
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2= title

        // sign in form
        div.form-group
          a.btn.btn-primary(href='/auth/twitter') Twitter


