doctype html
head
  title USER
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
  link(href='vendor/simple-line-icons/css/simple-line-icons.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='landing-page.min.css' )
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

nav.navbar.navbar-light.bg-light.static-top
  .container
    a.btn.btn-primary(href='/auth/twitter/callback' style='float: center;') Refresh
    a.btn.btn-primary(href='/auth/logout' style='float: right;') Logout


a.list-group-item
  img(src=photo width=100 height=100)
  h3=`${user}`
  h4
    li tweets: #{tweet_n}        following: #{following}         followers: #{followers}

block content
  
  each element in item
    if(element.extended_entities != null)
      if(element.extended_entities.media[0].type=="photo")
        img(src=`${element.user.profile_image_url_https}`) 
        h3=`${element.user.name}` 
        h4= `${element.text}`
        a.list-group-item(id="item-#{index++}")
          img(src=`${element.entities.media[0].media_url}` width=`${element.entities.media[0].sizes.small.w}` height=`${element.entities.media[0].sizes.small.h}`)
          h5
            li retweet: #{element.retweet_count} likes: #{element.favorite_count}
          p
      else if(element.extended_entities.media[0].type=="video")
        each el,index in element.extended_entities.media[0].video_info.variants
          if(el.bitrate==288000)
            img(src=`${element.user.profile_image_url_https}`)
            h3=`${element.user.name}`
            h4= `${element.text}`
            a.list-group-item
              video(width=`${element.extended_entities.media[0].sizes.small.w}` height=`${element.extended_entities.media[0].sizes.small.h}` controls='')
                source(src=`${element.extended_entities.media[0].video_info.variants[index].url}` type=`${element.extended_entities.media[0].video_info.variants[index].content_type}`)
              h5
                li retweet: #{element.retweet_count} likes: #{element.favorite_count}
              p
      else if(element.extended_entities.media[0].type=="animated_gif")
        img(src=`${element.user.profile_image_url_https}`)
        h3=`${element.user.name}`
        h4= `${element.text}`
        a.list-group-item
          video(width=`${element.extended_entities.media[0].sizes.small.w}` height=`${element.extended_entities.media[0].sizes.small.h}` autoplay='' loop='' controls='')
            source(src=`${element.extended_entities.media[0].video_info.variants[0].url}` type=`${element.extended_entities.media[0].video_info.variants[0].content_type}`)
          h5
            li retweet: #{element.retweet_count} likes: #{element.favorite_count}
          p
      else
          img(src=`${element.user.profile_image_url_https}`)
          h3=`${element.user.name}`
          h4= `${element.text}`
          a.list-group-item
            img(src=`${element.entities.media[0].media_url}` width=`${element.entities.media[0].sizes.small.w}` height=`${element.entities.media[0].sizes.small.h}`)
            h5
              li retweet: #{element.retweet_count} likes: #{element.favorite_count} 
            p     
    else if(element.entities.urls[0] != undefined)
      img(src=`${element.user.profile_image_url_https}`)
      h3=`${element.user.name}`
      h4= `${element.text}`
      a.list-group-item
        h5
          li retweet: #{element.retweet_count} likes: #{element.favorite_count} link: #{element.entities.urls[0].expanded_url}
      p
    else
      img(src=`${element.user.profile_image_url_https}`)
      h3=`${element.user.name}`
      h4= `${element.text}`
      a.list-group-item
        h5
          li retweet: #{element.retweet_count} likes: #{element.favorite_count}
      p
